header{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btns {
    border: 2px #f76205ff solid;

    color: #f76205ff;
    display: flex;
    font-size: 18px;
    height: 40px;
    min-width: 40px;

    padding: 3px;
    max-width: 80px;

    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-right: 4px;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}

.btns:hover {
    background-color: #f76205ff;
    color: #fff;
    border: 2px #f76205ff solid;

}

.btns:active {
    background-color: #DA5A0AFF;

}

.social-icons-containers {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: 0.3s;
}

.social-icons-containers svg {
    fill: #aaacad;

}

.social-icons-containers:hover {
    border-radius: 4px;
    color: #f76205ff;
    border: 1px solid #cecdcd;
}

.social-icons-containers.twitter__icon:hover svg {
    fill: #1DA1F2;
}

.social-icons-containers.instagram__icon:hover svg {
    fill: #ef27a2ff;
}

.social-icons-containers:active {
    background-color: #cccbcb;
}

@media (max-width: 390px) {
    .btns {
        font-size: 15px;
    }
}

.social-icon-in-menu svg {
    fill: #f76205ff;
}

.social-icon-in-menu {
    display: flex;
    font-size: 18px;
    color: #f76205ff;
    height: 34px;
    width: 100%;
    padding: 3px;
    /*max-width: 80px;*/

    /*border: 2px #f76205ff solid;*/
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-right: 4px;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}

.social-icon-in-menu:hover {
    background-color: #f76205ff;
    color: #fff;
    border: 2px #f76205ff solid;

}

.social-icon-in-menu:hover svg {
    fill: #FFFFffff;
}

.social-icon-in-menu:active {
    background-color: #DA5A0AFF;

}


.new-button {
    display: flex;
    font-size: 18px;
    height: 42px;
    min-width: 42px;
    border: 1px solid #fff;
    padding: 6px;
    text-decoration: none;


    align-items: center;
    justify-content: center;
    margin: 0;
    position: relative;
    background-color: #fff;
    border-radius: 4px;
    transition: 0.3s;
}

.new-button svg {
    fill: #afaeac;
}

.new-button:hover {
    background-color: #e8e8e8;
    border: 1px solid #ccc;
    text-decoration: none;


}

.new-button.twitter__icon:hover svg {
    fill: #1DA1F2;
}

.new-button.instagram__icon:hover svg {
    fill: #ef27a2ff;

}

.new-button:active {
    box-shadow: inset 0 5px 5px rgba(0, 0, 0, .125);
    /*background-color: #000;*/

    /*box-shadow: inset 0 0 6px 6px rgba(175, 171, 171, 0.54);*/
    color: #0a0c0d;

}





.new-button1 {
    display: flex;
    font-size: 18px;
    height: 42px;
    min-width: 42px;
    border: 1px solid #fff;
    padding: 6px;
    text-decoration: none;


    align-items: center;
    justify-content: center;
    margin: 0;
    position: relative;
    background-color: #fff;
    border-radius: 4px;
    transition: 0.3s;
}

.new-button1 svg {
    fill: #afaeac;
}

.new-button1:hover {
    background-color: #e5e5e5;
    border: 1px solid #ccc;
    text-decoration: none;


}

.new-button1.twitter__icon:hover svg {
    fill: #1DA1F2;
}

.new-button1.instagram__icon:hover svg {
    fill: #ef27a2ff;

}

.new-button1:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    /*background-color: #000;*/

    /*box-shadow: inset 0 0 6px 6px rgba(175, 171, 171, 0.54);*/
    color: #0a0c0d;

}


.flag-item.new-button {
    width: 100%;
    margin: 0;
    border-radius: 0;
    padding: 0 14px 0 12px;
}

.flag-item.new-button image {
    left: 4px;
}

.new-buttons {
    display: flex;
    font-size: 18px;
    height: 42px;
    min-width: 42px;
    border: 1px solid #fff;
    padding: 3px;
    text-decoration: none;


    align-items: center;
    justify-content: center;
    margin: 0px;
    position: relative;
    border-radius: 4px;
    transition: 0.3s;
}

.new-buttons:hover {
    border: 1px solid #ccc;
    background-color: #f76205ff;
    color: #fff;

    text-decoration: none;


}

.new-buttons:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    background-color: #f76205ff;
    color: #0a0c0d;

}


.new-button-auth {
    display: flex;
    font-size: 18px;
    height: 42px;
    width: 75px;
    color: #f76205ff;

    border: 2px solid #f76205ff;
    padding: 3px;
    text-decoration: none;


    align-items: center;
    justify-content: center;
    margin: 0 4px 0 0 ;
    position: relative;
    background-color: #fff;
    border-radius: 4px;
    transition: background-color 0.3s;
}


.new-button-auth:hover {
    background-color: #f76205ff;
    border: none;
    color: white;
    text-decoration: none;
}

.new-button-auth:active {
    color: #fff ;
    background-color: #f76205ff;
    border: none;
    box-shadow: inset 0 3px 5px rgb(162, 72, 2);



}


.new-button-auth.active {
    color: #fff;
    background-color: #f76205ff;

}

.new-button.youtube__icon:hover svg {
    fill: #ff0000;
}




.new-button.twitter__icon:hover svg {
    fill: #1DA1F2;
}

.new-button.instagram__icon:hover svg {
    fill: #ef27a2ff;

}

.new-button.telegram__icon:hover svg {
    fill: #33a8e4;

}

.new-button-auth.actives {
    background-color: #f76205ff;
}

.new-button-auth.actives > div {
    color: white;
    background-color: #f76205ff;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0;
    align-items: center;

    justify-content: center;

}

.new-button.flags {
    text-decoration: none;

    color: #000
}

.new-button.flags:hover {

}

.new-button.flags:active:focus {
    color: #000;
    background-color: #e8e8e8;
}


.flag-container {
    display: flex;
    justify-content: start;
    align-items: center;

    position: absolute;
    left: calc(50% - 21px);

}

.flag-containerdesktop {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    padding-left: 4px;
}

.flag-list {
    position: absolute;
    overflow-x: hidden !important;
    max-height: min(calc(100vh - 435px), 50vh);
    transform: none !important;
    inset: initial !important;
    left: 0 !important;
    top: 42px !important;
}
@media(max-height: 550px ){
    .flag-list{
        max-height:130px;
    }
}

.AuthButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:4px ;
}
.AuthButton>div>div{ margin: 0 8px 0 0 }

@media (max-width: 359px) {
    .AuthButton {
        display: block;
    }

    .AuthButton > div {
        margin-bottom: 5px;
    }

    .AuthButton > div:last-child {
        margin-bottom: 0;
    }
}

.logo-img {
    height: 80px;
}

/*.small-logo-container {*/
/*    width: 220px;*/

/*}*/

@media (max-width: 462px) {
    .logo-img {
        height: 70px;
    }

    .small-logo-container {
        width: 192px;

    }
}

@media (max-width: 418px) {
    .logo-img {
        height: 60px;
    }

    .small-logo-container {

        width: 164px;
    }
}

@media (max-width: 393px) {
    .logo-img {
        height: 50px;
    }

    .small-logo-container {
        width: 137px;
    }
}


.logo-img2 {
    height: 50px;
}


.locked-custom {
    pointer-events: none;
    user-select: none;
}


.header2 {
    background-color: #FFF;
    position: relative;
}







