.grid{
    display: grid;
    grid-gap: 20px;
    justify-content: center;
}
.grid-template {
    grid-template-columns: repeat(4, 150px);
}

@media (max-width: 768px) {
    .grid-template {

        grid-template-columns: repeat(2, auto);
        justify-content: center;
        column-gap: 80px;
        row-gap: 17px;


    }
}

#footer{
    margin: 0 !important;
    bottom: 0;
    position: absolute;

}